@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a {
  color: inherit;
  text-decoration: none; }

body {
  font: 100% Montserrat, sans-serif;
  color: #333; }

/* Page Layout */
.container {
  max-width: 850px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  background-color: #fff; }

/* Header */
header {
  color: #9f9c9c;
  padding: 20px 0;
  margin-bottom: 40px;
  text-transform: uppercase;
  border-bottom: 2px solid #b0e0ea;
  display: flex;
  justify-content: space-between; }
  header nav ul {
    display: flex;
    align-items: baseline;
    list-style-type: none; }
  header nav li {
    margin-right: 15px; }
  header button {
    border: none;
    padding: 8px 25px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    border-radius: 1.25rem;
    background-color: #51bb7b; }

.logo {
  font-size: 2rem;
  margin-right: 1.5rem;
  color: #50c6db; }

/* Main Section */
.wrapper {
  display: flex;
  flex-direction: row; }

/* Main Section */
.main {
  flex: 3; }

/* Sidebar */
.sidebar {
  flex: 1;
  padding: 20px;
  margin-right: 60px;
  border-top: 3px solid #693f7e;
  background-color: #f9f9f9; }
  .sidebar ul {
    list-style: none;
    margin-top: 1em;
    font-size: .75em; }
    .sidebar ul li {
      padding: .25em 0; }
